<!DOCTYPE html>
<html>
  <body>

    
    <form action="/square_root/results">
     <label for="square-root"> Enter a number </label>
     <div>
     <input type="text" id="square-root" name= "user-input">
    <div>
    <button> Calculate square root </button>
    
    </form>
    </body>

  </html>
